@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap");
*, *::after, *::before {
  position: relative;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  overflow-x: hidden;
  background-color: #F4F6FA;
  font-family: "Noto Sans", sans-serif;
}

.mainWrapper {
  background-color: #F4F6FA;
  height: auto;
  min-height: 580px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-bottom: 30px;
}

.left_sec_cover {
  position: fixed;
  z-index: 8;
  width: 100vw;
  left: -105%;
  top: 0;
  height: 100vh;
  background: rgba(168, 165, 165, 0.473);
}

.left_sec_contd {
  box-shadow: 0px 0px 3px rgb(210, 234, 246);
  padding: 15px 10px;
  z-index: 9;
  position: fixed;
  top: 0px;
  left: -240px;
  width: 250px;
  min-height: 500px;
  height: 100vh;
  background: #fff;
  background-color: #F4F6FA;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-content: start;
  grid-row-gap: 50px;
}
.left_sec_contd .showBtnCon {
  z-index: 9;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.left_sec_contd .showBtnCon button.showHideBtn {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: none;
  outline: none;
  color: #fff;
  background-color: #05BAC7;
  font-size: 20px;
  cursor: pointer;
}
.left_sec_contd .logo_section {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 12px;
}
.left_sec_contd .logo_section .logoContd {
  background: url(/assets/logo.png);
  grid-area: 1/1/3/2;
  height: 45px;
  width: 100%;
  border-radius: 8px;
  align-self: center;
  background-size: cover;
}
.left_sec_contd .logo_section h2 {
  font-size: 15px;
  align-self: end;
  line-height: 15px;
}
.left_sec_contd .logo_section p {
  font-size: 12px;
  font-weight: 600;
  color: rgb(135, 133, 133);
}
.left_sec_contd ul.dashboard_contd {
  list-style-type: none;
  background: #fff;
  padding: 15px 8px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  align-content: start;
  justify-content: start;
  grid-row-gap: 15px;
}
.left_sec_contd ul.dashboard_contd li {
  padding: 5px;
}
.left_sec_contd ul.dashboard_contd li.li_common {
  padding: 5px;
  display: grid;
  grid-template-columns: 62px 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 2px;
}
.left_sec_contd ul.dashboard_contd li.li_common h5.title {
  grid-area: 1/1/2/3;
  font-size: 12px;
  color: rgb(190, 189, 189);
  font-weight: 500;
}
.left_sec_contd ul.dashboard_contd li.li_common h4.no {
  font-size: 15px;
  font-weight: 600;
}
.left_sec_contd ul.dashboard_contd li.li_common .progressbarCon {
  justify-self: start;
  align-self: center;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.left_sec_contd ul.dashboard_contd li.li_common .progressbarCon .progress {
  position: absolute;
  height: 120%;
  border-radius: 8px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.left_sec_contd ul.dashboard_contd li.li_common .achievement_icon {
  justify-self: end;
  align-self: start;
  height: 25px;
  width: 25px;
}
.left_sec_contd ul.dashboard_contd li.li_common .achievement_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.left_sec_contd ul.dashboard_contd li.heading {
  height: 40px;
  display: grid;
  grid-template-columns: 62px 1fr;
  grid-column-gap: 20px;
}
.left_sec_contd ul.dashboard_contd li.heading .h_logo {
  height: 30px;
  width: 30px;
}
.left_sec_contd ul.dashboard_contd li.heading .h_logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.left_sec_contd ul.dashboard_contd li.heading h4 {
  grid-area: 1/2/2/3;
  justify-self: start;
  font-size: 20px;
  font-weight: 600;
}

.pFirst {
  background: #0ae3f3;
  left: -60%;
}

.pSecond {
  background: #f7e575;
  left: -30%;
}

.pThird {
  background: #f85e21;
  left: -70%;
}

.right_sec_contd {
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-content: start;
  grid-row-gap: 10px;
}
.right_sec_contd .small_logo {
  height: 70px;
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 12px;
}
.right_sec_contd .small_logo .logoContd {
  background: url(/assets/logo.png);
  grid-area: 1/1/3/2;
  height: 45px;
  width: 100%;
  border-radius: 8px;
  align-self: center;
  background-size: cover;
}
.right_sec_contd .small_logo h2 {
  font-size: 15px;
  align-self: end;
  line-height: 15px;
}
.right_sec_contd .small_logo p {
  font-size: 12px;
  font-weight: 600;
  color: rgb(135, 133, 133);
}
.right_sec_contd .color {
  color: #8cddf2;
  color: #255e6c;
}
.right_sec_contd .rMidWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
}
.right_sec_contd .rMidWrapper .text_sec {
  padding: 30px 0px 10px 0px;
  height: auto;
  display: grid;
  align-content: start;
}
.right_sec_contd .rMidWrapper .text_sec .headingWrapper {
  overflow: hidden;
  min-height: 34px;
  height: 34px;
}
.right_sec_contd .rMidWrapper .text_sec .headingWrapper h2.displayText {
  opacity: 0;
  position: absolute;
  top: 100%;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
}
.right_sec_contd .rMidWrapper .text_sec .paraWrapper {
  overflow: hidden;
  min-height: 80px;
}
.right_sec_contd .rMidWrapper .text_sec .paraWrapper p.bookDes {
  position: absolute;
  opacity: 0;
  top: 100%;
  font-size: 14px;
  color: rgb(81, 80, 80);
}
.right_sec_contd .rMidWrapper button.reviewBtn {
  justify-self: start;
  width: auto;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  background-color: #05BAC7;
  color: white;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.3px;
}
.right_sec_contd .rMidWrapper button.reviewBtn i {
  font-size: 13px;
}
.right_sec_contd .rMidWrapper .bookdisplay_sec {
  position: relative;
  height: 320px;
  width: 100%;
}
.right_sec_contd .rMidWrapper .bookdisplay_sec .roundCon {
  position: absolute;
  top: 65%;
  left: 0%;
  transform: translate(0%, -50%);
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #fff, #ddd);
}
.right_sec_contd .rMidWrapper .bookdisplay_sec .roundCon .bookContainer {
  position: absolute;
  bottom: 60px;
  height: 200px;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-items: center;
  align-items: center;
}
.right_sec_contd ul.swipe_sec {
  margin-top: 50px;
  height: 120px;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  justify-content: start;
  grid-column-gap: 12px;
  align-content: center;
}
.right_sec_contd ul.swipe_sec li.bottom {
  width: 50px;
  padding: 6px 12px;
  align-self: center;
  height: auto;
  border-radius: 8px;
  background-color: #ECEDF4;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 6px;
  cursor: pointer;
}
.right_sec_contd ul.swipe_sec li.bottom h4.title {
  display: none;
  opacity: 0;
}
.right_sec_contd ul.swipe_sec li.bottom p.month {
  font-size: 12px;
  font-weight: 500;
  color: #6a6a6b;
  text-align: center;
}
.right_sec_contd ul.swipe_sec li.bottom p.no {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #636364;
}
.right_sec_contd ul.swipe_sec li.bottom.bExpand {
  position: relative;
  width: 100px !important;
  height: 100px;
  padding: 10px 12px;
  background: #fff;
}
.right_sec_contd ul.swipe_sec li.bottom.bExpand p.month {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.right_sec_contd ul.swipe_sec li.bottom.bExpand h4.title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
}
.right_sec_contd ul.swipe_sec li.bottom.bExpand p.pShow {
  font-size: 16px;
  color: #05BAC7 !important;
  text-align: center;
}

.Book {
  width: 150px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-16.5px);
}

.book__face--front,
.book__face--back,
.book__face--right,
.book__face--left,
.book__face--top,
.book__face--bottom {
  position: absolute;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.book__face--front,
.book__face--back {
  width: 150px;
  height: 200px;
  background: #959294;
}

.book__face--right,
.book__face--left {
  width: 33px;
  height: 200px;
  background: #dddde0;
  left: 58.5px;
}

.book__face--top,
.book__face--bottom {
  width: 146px;
  height: 33px;
  background: #b0b0b3;
  top: 83.5px;
}

.book__face--top {
  transform: rotateX(90deg) translateZ(96px);
}

.book__face--bottom {
  transform: rotateX(-90deg) translateZ(96px);
}

.book__face--front {
  transform: rotateY(0deg) translateZ(16.5px);
}

.book__face--back {
  transform: rotateY(180deg) translateZ(16.5px);
}

.book__face--left {
  transform: rotateY(-90deg) translateZ(75px);
}

.book__face--right {
  transform: rotateY(90deg) translateZ(71px);
}

.Book {
  transform: translateZ(-50px);
  transform: rotateZ(30deg) rotateY(-30deg) rotateX(-20deg);
}

.book__face--right {
  height: 192px;
  top: 4px;
}

.book__face--front {
  overflow: hidden;
}
.book__face--front .figure {
  position: absolute;
  top: calc(100% + 100px);
  left: 0;
  height: 100%;
  width: 100%;
}
.book__face--front .figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.book__face--front .figure .svgContainer {
  top: -120px;
  position: absolute;
  height: 80px;
  height: 140px;
  width: 900px;
  display: grid;
  z-index: -1;
}
.book__face--front .figure .svgContainer0 {
  background: url("../assets/bookSvgT0.svg");
  background-size: cover;
}
.book__face--front .figure .svgContainer1 {
  background: url("../assets/bookSvgT1.svg");
  background-size: cover;
}
.book__face--front .figure .svgContainer2 {
  background: url("../assets/bookSvgT2.svg");
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  .left_sec_contd {
    padding: 15px;
    left: -265px;
    width: 280px;
  }
  .left_sec_contd .showBtnCon {
    z-index: 9;
    position: absolute;
    top: 50%;
    right: -40px;
  }
  .paraWrapper {
    min-height: 62px !important;
  }
}
@media only screen and (min-width: 480px) {
  .left_sec_contd {
    padding: 15px 30px;
    left: calc(-90% + 30px);
    width: 90%;
  }
  .left_sec_contd .showBtnCon {
    z-index: 9;
    position: absolute;
    top: 50%;
    right: -30px;
  }
  .left_sec_contd ul.dashboard_contd {
    padding: 35px 25px;
  }
  .left_sec_contd ul.dashboard_contd li {
    padding: 5px;
  }
  .left_sec_contd ul.dashboard_contd li.li_common {
    display: grid;
    grid-template-columns: 85px 1fr;
  }
  .left_sec_contd ul.dashboard_contd li.li_common h5.title {
    grid-area: 1/1/2/3;
    font-size: 12px;
    color: rgb(190, 189, 189);
    font-weight: 500;
  }
  .left_sec_contd ul.dashboard_contd li.li_common h4.no {
    font-size: 18px;
    font-weight: 600;
  }
  .left_sec_contd ul.dashboard_contd li.li_common .achievement_icon {
    justify-self: end;
    align-self: start;
    height: 28px;
    width: 28px;
  }
  .left_sec_contd ul.dashboard_contd li.heading {
    height: 40px;
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-column-gap: 20px;
  }
  .left_sec_contd ul.dashboard_contd li.heading .h_logo {
    height: 35px;
    width: 35px;
  }
  .left_sec_contd ul.dashboard_contd li.heading h4 {
    grid-area: 1/2/2/3;
    justify-self: start;
    font-size: 20px;
  }
  .right_sec_contd {
    padding: 10px;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 400px) {
  .paraWrapper {
    min-height: 50px !important;
  }
}
@media only screen and (min-width: 768px) {
  .left_sec_contd {
    padding: 15px 30px;
    left: -570px;
    width: 600px;
  }
  .left_sec_contd .showBtnCon {
    z-index: 9;
    position: absolute;
    top: 50%;
    right: -30px;
  }
  .left_sec_contd ul.dashboard_contd {
    padding: 35px 25px;
  }
  .left_sec_contd ul.dashboard_contd li {
    padding: 5px;
  }
  .left_sec_contd ul.dashboard_contd li.li_common {
    display: grid;
    grid-template-columns: 85px 1fr;
  }
  .left_sec_contd ul.dashboard_contd li.li_common h5.title {
    grid-area: 1/1/2/3;
    font-size: 13px;
    color: rgb(190, 189, 189);
    font-weight: 500;
  }
  .left_sec_contd ul.dashboard_contd li.li_common h4.no {
    font-size: 20px;
  }
  .right_sec_contd {
    padding: 15px;
    padding-left: 55px;
    grid-row-gap: 15px;
  }
  .right_sec_contd .small_logo h2.displayText {
    font-size: 16px;
    line-height: 16px;
  }
  .right_sec_contd .small_logo p.bookDes {
    font-size: 12.5px;
  }
  .right_sec_contd .text_sec {
    padding: 30px 0px 10px 0px;
    height: auto;
    display: grid;
    align-content: start;
  }
  .right_sec_contd .text_sec .headingWrapper h2 {
    font-size: 28px;
    font-weight: 500;
  }
  .right_sec_contd .text_sec .paraWrapper p {
    font-size: 15.2px;
    color: rgb(81, 80, 80);
  }
  .right_sec_contd button.reviewBtn {
    border: none;
    font-size: 16px;
  }
  .right_sec_contd button.reviewBtn i {
    font-size: 14px;
  }
  .right_sec_contd .bookdisplay_sec {
    position: relative;
    height: 320px;
    width: 100%;
  }
  .right_sec_contd ul.swipe_sec {
    height: 120px;
    padding-top: 40px;
  }
  .right_sec_contd ul.swipe_sec li.bottom {
    width: 50px;
    padding: 8px 14px;
    align-self: center;
    height: auto;
    border-radius: 8px;
    background-color: #ECEDF4;
  }
  .right_sec_contd ul.swipe_sec li.bottom h4.title {
    display: none;
  }
  .right_sec_contd ul.swipe_sec li.bottom p.month {
    font-size: 12px;
    font-weight: 500;
    color: #6a6a6b;
  }
  .right_sec_contd ul.swipe_sec li.bottom p.no {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .mainWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left right";
  }
  .left_sec_cover {
    display: none;
  }
  .left_sec_contd {
    box-shadow: none !important;
    padding: 15px 30px;
    width: 100% !important;
    left: 0px !important;
    position: relative !important;
    grid-area: left;
  }
  .left_sec_contd .showBtnCon {
    display: none;
  }
  .left_sec_contd .logo_section {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 12px;
  }
  .left_sec_contd .logo_section h2 {
    font-size: 16px;
    line-height: 16px;
    align-self: end;
  }
  .left_sec_contd .logo_section p {
    font-size: 12.5px;
    font-weight: 600;
  }
  .left_sec_contd ul.dashboard_contd {
    min-height: 470px;
    height: calc(100vh - 135px);
    box-shadow: 0px 0px 3px rgb(236, 236, 236);
  }
  .right_sec_contd {
    padding: 15px 30px;
    grid-area: right;
    width: 100%;
  }
  .right_sec_contd .small_logo .logoContd {
    display: none;
  }
  .right_sec_contd .small_logo h2 {
    display: none;
  }
  .right_sec_contd .small_logo p {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .left_sec_contd {
    box-shadow: none;
    padding: 15px 30px;
    width: 100%;
    left: 0px;
    position: relative;
    grid-area: left;
    width: 400px;
  }
  .left_sec_contd .showBtnCon {
    display: none;
  }
  .left_sec_contd .logo_section {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 12px;
  }
  .left_sec_contd .logo_section h2 {
    font-size: 16px;
    line-height: 16px;
    align-self: end;
  }
  .left_sec_contd .logo_section p {
    font-size: 12.5px;
    font-weight: 600;
  }
  .left_sec_contd ul.dashboard_contd {
    min-height: 470px;
    height: calc(100vh - 135px);
    box-shadow: 0px 0px 3px rgb(236, 236, 236);
  }
  .right_sec_contd {
    padding: 15px 30px;
    grid-area: right;
    width: 100%;
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    align-content: start;
    grid-row-gap: 10px;
    grid-template-areas: "rTop rTop" "rMid rMid" "rBot rBot";
  }
  .right_sec_contd .small_logo {
    grid-area: rTop;
    height: 80px;
    width: 100%;
  }
  .right_sec_contd .small_logo .logoContd {
    display: none;
  }
  .right_sec_contd .rMidWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "textSec bookdisplay" "button bookdisplay";
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }
  .right_sec_contd .rMidWrapper .text_sec {
    grid-area: textSec;
    align-self: end;
  }
  .right_sec_contd .rMidWrapper .text_sec .headingWrapper {
    height: 68px;
  }
  .right_sec_contd .rMidWrapper .text_sec .headingWrapper h2.displayText {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .right_sec_contd .rMidWrapper .text_sec .paraWrapper p.bookDes {
    font-size: 16.5px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn {
    align-self: start;
    grid-area: button;
    padding: 16px 25px;
    border-radius: 25px;
    font-size: 17px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn i {
    font-size: 16px;
  }
  .right_sec_contd .rMidWrapper .bookdisplay_sec {
    grid-area: bookdisplay;
    align-self: center;
  }
  .right_sec_contd .rMidWrapper .bookdisplay_sec .roundCon {
    left: 0%;
    bottom: 0% !important;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #fff, #ddd);
  }
  .right_sec_contd .rMidWrapper .bookdisplay_sec .roundCon .bookContainer {
    position: absolute;
    bottom: 80px;
    height: 300px;
    width: 300px;
    left: 58%;
    transform: translateX(-50%);
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .right_sec_contd ul.swipe_sec {
    padding: 0px;
    grid-area: rBot;
    align-items: center;
    align-content: center;
  }
  .right_sec_contd ul.swipe_sec li.bottom {
    width: 60px;
    padding: 15px 14px;
    align-self: center;
    height: auto;
    border-radius: 8px;
    background-color: #ECEDF4;
  }
  .Book {
    width: 220px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-20px);
  }
  .book__face--front,
.book__face--back,
.book__face--right,
.book__face--left,
.book__face--top,
.book__face--bottom {
    position: absolute;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
  .book__face--front,
.book__face--back {
    width: 220px;
    height: 300px;
  }
  .book__face--right,
.book__face--left {
    width: 40px;
    height: 300px;
    left: 90px;
  }
  .book__face--top,
.book__face--bottom {
    width: 212.5px;
    height: 40px;
    top: 130px;
  }
  .book__face--top {
    transform: rotateX(90deg) translateZ(142.5px);
  }
  .book__face--bottom {
    transform: rotateX(-90deg) translateZ(142.5px);
  }
  .book__face--front {
    transform: rotateY(0deg) translateZ(20px);
  }
  .book__face--back {
    transform: rotateY(180deg) translateZ(20px);
  }
  .book__face--left {
    transform: rotateY(-90deg) translateZ(110px);
  }
  .book__face--right {
    transform: rotateY(90deg) translateZ(102.5px);
  }
  .Book {
    transform: translateZ(-50px);
    transform: rotateZ(30deg) rotateY(-30deg) rotateX(-20deg);
  }
  .book__face--right {
    height: 285px;
    top: 7.5px;
  }
}
@media only screen and (min-width: 1400px) {
  .left_sec_contd {
    box-shadow: none;
    padding: 15px 30px;
    width: 100%;
    left: 0px;
    position: relative;
    grid-area: left;
    width: 465px;
  }
  .left_sec_contd .showBtnCon {
    display: none;
  }
  .left_sec_contd .logo_section {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 12px;
  }
  .left_sec_contd .logo_section h2 {
    font-size: 16px;
    line-height: 16px;
    align-self: end;
  }
  .left_sec_contd .logo_section p {
    font-size: 12.5px;
    font-weight: 600;
  }
  .left_sec_contd ul.dashboard_contd {
    min-height: 470px;
    height: calc(100vh - 135px);
    box-shadow: 0px 0px 3px rgb(236, 236, 236);
  }
  .right_sec_contd {
    padding: 15px 30px;
    grid-area: right;
    width: 100%;
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    align-content: start;
    grid-row-gap: 10px;
    grid-template-areas: "rTop rTop" "rMid rMid" "rBot rBot";
  }
  .right_sec_contd .small_logo {
    grid-area: rTop;
    height: 80px;
    width: 100%;
  }
  .right_sec_contd .small_logo .logoContd {
    display: none;
  }
  .right_sec_contd .rMidWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "textSec bookdisplay" "button bookdisplay";
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }
  .right_sec_contd .rMidWrapper .text_sec {
    grid-area: textSec;
    align-self: end;
  }
  .right_sec_contd .rMidWrapper .text_sec .headingWrapper h2.displayText {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .right_sec_contd .rMidWrapper .text_sec .paraWrapper p.bookDes {
    font-size: 16.5px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn {
    align-self: start;
    grid-area: button;
    padding: 16px 25px;
    border-radius: 25px;
    font-size: 17px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn i {
    font-size: 16px;
  }
  .right_sec_contd .rMidWrapper .bookdisplay_sec {
    grid-area: bookdisplay;
    align-self: center;
  }
  .right_sec_contd ul.swipe_sec {
    padding: 0px;
    grid-area: rBot;
    align-items: center;
    align-content: center;
  }
  .right_sec_contd ul.swipe_sec li.bottom {
    width: 60px;
    padding: 15px 14px;
    align-self: center;
    height: auto;
    border-radius: 8px;
    background-color: #ECEDF4;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 1000px) {
  .right_sec_contd {
    padding: 15px 30px;
    grid-area: right;
    width: 100%;
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 600px auto;
    align-content: start;
    grid-row-gap: 10px;
    grid-template-areas: "rTop rTop" "rMid rMid" "rBot rBot";
  }
  .right_sec_contd .small_logo {
    grid-area: rTop;
    height: 80px;
    width: 100%;
  }
  .right_sec_contd .small_logo .logoContd {
    display: none;
  }
  .right_sec_contd .rMidWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "textSec bookdisplay" "button bookdisplay";
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }
  .right_sec_contd .rMidWrapper .text_sec {
    grid-area: textSec;
    align-self: end;
  }
  .right_sec_contd .rMidWrapper .text_sec .headingWrapper h2.displayText {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .right_sec_contd .rMidWrapper .text_sec .paraWrapper p.bookDes {
    font-size: 16.5px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn {
    align-self: start;
    grid-area: button;
    padding: 16px 25px;
    border-radius: 25px;
    font-size: 17px;
  }
  .right_sec_contd .rMidWrapper button.reviewBtn i {
    font-size: 16px;
  }
  .right_sec_contd .rMidWrapper .bookdisplay_sec {
    grid-area: bookdisplay;
    align-self: center;
  }
  .right_sec_contd ul.swipe_sec {
    padding: 0px;
    grid-area: rBot;
    align-items: center;
    align-content: center;
  }
  .right_sec_contd ul.swipe_sec li.bottom {
    width: 60px;
    padding: 15px 14px;
    align-self: center;
    height: auto;
    border-radius: 8px;
    background-color: #ECEDF4;
  }
  ul.dashboard_contd {
    height: 800px !important;
  }
}
/*# sourceMappingURL=index.css.map */
