doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title cardwave
        // font-awesome
        link(rel="stylesheet", href="./css/index.css")
        <script src="https://kit.fontawesome.com/2ba695a310.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
        script(src = "./js/index.js")
    body 
        .mainWrapper 
            .left_sec_cover
            .left_sec_contd
                .showBtnCon 
                    button.showHideBtn 
                        <i class="fa-solid fa-arrow-right"></i>

                .logo_section
                    .logoContd
                    h2.logo_heading Your's Reading 
                    p by orzoon  
                ul.dashboard_contd 
                    li.heading 
                        .h_logo 
                            img(src="./assets/dashboard.png", alt="")
                        h4 Dashboard

                    li.li_common 
                        h5.title Books
                        h4.no.h4Test 15
                        .progressbarCon 
                            .progress.pFirst
                    li.li_common 
                        h5.title Articles
                        h4.no 88
                        .progressbarCon 
                            .progress.pSecond
                    li.li_common 
                        h5.title Reading hours
                        h4.no 255
                        .progressbarCon 
                            .progress.pThird
                    li.li_common
                        h5.title Friends Ranking
                        h4.no 3rd
                        .achievement_icon
                            img(src="./assets/clap.png", alt="")
                    li.li_common
                        h5.title Social Ranking
                        h4.no Top 15%
                        .achievement_icon
                            img(src="./assets/brain.png", alt="")

            .right_sec_contd
                // for-small devices
                .small_logo
                    .logoContd 
                    h2.logo_heading Your's Reading 
                    p by orzoon
                .rMidWrapper
                    .text_sec 
                        .headingWrapper
                            h2.displayText.displayText0 Wings Of Change
                        .paraWrapper
                            p.bookDes.bookDes0 amet consectetur esse facere blanditiis nihil, soluta assumenda, beatae ipsum ullam quam velit ipsam quia

                    button.reviewBtn Write Review &nbsp;<i class="fa-solid fa-star"></i>
                    .bookdisplay_sec 
                        .roundCon
                            .bookContainer 
                                .Book 
                                    <div class="book__face book__face--front">front</div>
                                    <div class="book__face book__face--back">back</div>
                                    <div class="book__face book__face--right">r</div>
                                    <div class="book__face book__face--left">l</div>
                                    <div class="book__face book__face--top">t</div>
                                    <div class="book__face book__face--bottom">b</div>
                ul.swipe_sec 
                    li.bottom.bExpand
                        h4.title.b_title0 Wings Of Change
                        p.month.month0 Sep
                        p.no.pShow 1
                    li.bottom 
                        h4.title.b_title1 Samurai Warrior
                        p.month.month1 Oct
                        p.no 2
                    li.bottom 
                        h4.title.b_title2 Cosmos
                        p.month.month2 Nov
                        p.no 3

                        





